html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}
h1 {background-color:#702632;padding: 20px 20px 0px; color: #f7eade;margin: 0px 0px 0px 0px; 
    font-size: 70px;}
h2 {background-color:#702632; padding: 0px 20px 20px; color: #f7eade; margin: 0px 0px 0px 0px; 
    font-size: 30px}
head {background-color: #f7eade}
body{background-color: #f7eade;}
#main{background-color: #f7eade;}
ul{display: flex; gap: 10px; list-style: none; margin: 20px 0px 0px 0px;}
li.ff{padding: 70px 100px; background:#c2714f;margin: 0px 10px 0px 10px;font-size: 30px; 
    font-weight: bold; color:#f7eade; border-radius: 10px;text-align: center; cursor: pointer;
    transition: background, transform;
    transition-duration: 333ms;}
a {color: #f7eade; text-decoration: none;}
li:hover {padding: 70px 100px; background:#964a29;}
li.fd {padding: 20px 30px; background:#702632;margin: 0px 10px 10px 10px;font-size: 20px; 
    font-weight: bold; color:#f7eade; border-radius: 10px;text-align: center; cursor: pointer;
    transition: background, transform;
    transition-duration: 333ms;}
li.fd:hover{padding: 20px 30px; background:#b13e51;}
h3{font-size: 30px; font-weight: 700; margin: 10px 0px 0px 10px; color: #702632;}
p{font-family:  "Rubik", sans-serif; text-align: justify;font-size: 20px;line-height: 
    1.5;text-indent: 15px; margin: 0px 10px 0px 10px;}
img.icon{width: 40px; height: auto; align-items: center; }