html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}
h1 {background-color:#702632;padding: 20px 20px 0px; color: #f7eade;margin: 0px 0px 0px 0px; 
    font-size: 70px;}
h2 {background-color:#702632; padding: 0px 20px 20px; color: #f7eade; margin: 0px 0px 0px 0px; 
    font-size: 30px}
h3{font-size: 30px;padding-left: 20px;padding-top: 22px;font-style: bold;}
head {background-color: #f7eade;}
body{background-color: #f7eade;}

li {
    padding: 7px 3px;
}

ul{
    font-family:  "Rubik", sans-serif;
    font-size: 20px;
    padding-top: 10px;
}

img {
    width: 263px;
    height: auto;
    padding: 40px 14px;
    flex-direction: row;
    transition-duration: 1s;

}

.images {
    display: flex;
    flex-wrap: wrap;

}

ul.fg {display: flex;}
li.fd {padding: 20px 30px; background:#702632;margin: 0px 10px 10px 10px;font-size: 20px; 
    font-weight: bold; color:#f7eade; border-radius: 10px;text-align: center; cursor: pointer;
    transition: background, transform;
    transition-duration: 333ms;}
li.fd:hover{padding: 20px 30px; background:#b13e51;}
h3{font-size: 30px; font-weight: 700; margin: 10px 0px 0px 10px; color: #702632;padding: 0;}

.enola-holmesova{
    position: relative;
}

.sherlock-holmes{
    position: relative;
}

.krypta{
    position: relative;
}

.Království{
    position: relative;
}

.Nil{
    position: relative;
}

.Vražda{
    position: relative;
}

.Velká{
    position: relative;
}

.Mizející{
    position: relative;
}


.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: auto;
    opacity: 0;
    transition: .3s ease;
    background-color: #c2714f;
    text-align: center;
}

.enola-holmesova:hover .overlay{
    opacity: 1;
}

.sherlock-holmes:hover .overlay{
    opacity: 1;
}

.krypta:hover .overlay{
    opacity: 1;
}

.Království:hover .overlay{
    opacity: 1;
}

.Nil:hover .overlay{
    opacity: 1;
}

.Vražda:hover .overlay{
    opacity: 1;
}

.Velká:hover .overlay{
    opacity: 1;
}

.Mizející:hover .overlay{
    opacity: 1;
}


.text {
    color: #f7eade;
    font-family:  "Rubik", sans-serif;
    font-size: 20px;
    position: absolute;
    text-align: center;
    justify-content: center;
    left: 0;
    top: 140px;
    width: 100%;
    line-height: 40px;
    vertical-align: middle;
    transform: translate(0, 0);
}

  a{color: #f7eade; font-size: 70px;text-decoration: none}