html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}
h1 {background-color:#702632;padding: 20px 20px 0px; color: #f7eade;margin-block-end: 0em; 
    font-size: 70px;}
h2 {background-color:#702632; padding: 0px 20px 20px; color: #f7eade; margin-block-start: 0em; 
    font-size: 30px}
h3 {font-size: 30px;padding-left: 20px;padding-top: 22px;font-style: bold;}
head {background-color: #f7eade;}
body{background-color: #f7eade;}

ul{
    font-family:  "Rubik", sans-serif;
    font-size: 20px;
    padding-top: 10px;
}

li {
    padding: 7px 3px;
}

img {
    width: 288px; 
    height: auto;
    padding: 40px 12px;
}

img:hover {
    background-color:#C2714F;
    opacity: 0.3;
    transition-duration: 1s;
}

.ya{
    display: flex;

}

ul.fg {display: flex;}
li.fd {padding: 20px 30px; background:#702632;margin: 0px 10px 10px 10px;font-size: 20px; 
    font-weight: bold; color:#f7eade; border-radius: 10px;text-align: center; cursor: pointer;
    transition: background, transform;
    transition-duration: 333ms;}
li.fd:hover{padding: 20px 30px; background:#b13e51;}
h3{font-size: 30px; font-weight: 700; margin: 10px 0px 0px 10px; color: #702632;padding: 0;}
.SD{
    position: relative;
}

.after{
    position: relative;
}

.náhodou{
    position: relative;
}

.uherák{
    position: relative;
}

.twitter{
    position: relative;
}

.štěstí{
    position: relative;
}

.jane{
    position: relative;
}

.vlna{
    position: relative;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: auto;
    opacity: 0;
    transition: .3s ease;
    background-color: #c2714f;
}

.SD:hover .overlay{
    opacity: 1;
}

.after:hover .overlay{
    opacity: 1;
}

.náhodou:hover .overlay{
    opacity: 1;
}

.uherák:hover .overlay{
    opacity: 1;
}

.twitter:hover .overlay{
    opacity: 1;
}

.štěstí:hover .overlay{
    opacity: 1;
}

.jane:hover .overlay{
    opacity: 1;
}

.vlna:hover .overlay{
    opacity: 1;
}

.text {
    color: #f7eade;
    font-family:  "Rubik", sans-serif;
    font-size: 20px;
    position: absolute;
    text-align: center;
    justify-content: center;
    left: 0;
    top: 140px;
    width: 100%;
    line-height: 40px;
    vertical-align: middle;
    transform: translate(0, 0);
}

 


