html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}
h1 {background-color:#702632;padding: 20px 20px 0px; color: #f7eade;margin-block-end: 0em; 
    font-size: 70px;}
h2 {background-color:#702632; padding: 0px 20px 20px; color: #f7eade; margin-block-start: 0em; 
    font-size: 30px}
h3{font-size: 30px;padding-left: 20px;}
head {background-color: #f7eade;}
body{background-color: #f7eade;}

ul{
    font-family:  "Rubik", sans-serif;
    font-size: 20px;
    padding-top: 10px;
}

li {
    padding: 7px 3px;
}

img {
    width: 263px;
    height: auto;
    padding: 40px 12px;
}